@import '../base/_colors';

.privatPolicyContainer{
   overflow-y: scroll;
    margin: 96px 0px 0px;
    position: relative;
    padding: 80px 64px;
    left: 232px;
    background-color: #f6f7f8; 
    width: calc(100% - 360px);
    height: calc(100vh - 256px);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

.headline-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.linkColor{
color: $secondary-color;
}

.arrowContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #f6f7f8;
  border-radius: 50%;
}

.arrowContainer:hover{
  background-color:#EEEDEC;
  cursor: pointer;
}