$primary-color: #2a3647;
$secondary-color: #29abe2;
$dark-blue: #42526e;
$error-red: #ff3d00;

$summary-background-color: #f6f7f8;
$color-dark: #000;
$color-light: #fff;
$color-lightgrey: #d1d1d1;

$color-mail: #007cee;

$color-board-story-blue: #0038ff;
$color-board-story-green: #1fd7c1;
$color-board-grey: #a8a8a8;
$color-board-task-empty: #e7e7e7;
$color-board-subtask-bar: #4589FC;

$color-sidebar-text: #cdcdcd;
$disabled-color: #6d819b;